body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 20px;
    color: #333;
}

header {
    background-color: white; 
    padding: 0px 0;
    align-items: center;
}

.header-content {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 0px; 
    background-color: white;
    padding-bottom: 10px;
}

.logo {
    display: block;
    width: 9.25rem;
    height: 3.75rem;
    margin-right: 20px;
    background-color: #eee; /* Match body background color */
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif, Helvetica, sans-serif;
    font-size: 36px;
    font-weight: 500;
    color: #000000;
    /* letter-spacing: 1px; */
    /* text-transform: uppercase; */
}
h2 {
    font-size: 18px;
    color: #4a4a4a;
    margin-bottom: 10px;
}

.chart-container {
    width: 80%;
    height: 400px;
    margin: 20px auto;
}

.brand-selector {
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 20px;
}

.header-divider {
    border: 0;
    height: 1px;
    background-color: #ccc;
    margin: 0;
}

/* add brand button */

.modern-button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    outline: none;
}

.modern-button:hover {
    background-color: #2980b9;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modern-button:active {
    transform: translateY(0);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: none;
    border-radius: 8px;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;
}

.close:hover,
.close:focus {
    color: #2c3e50;
    text-decoration: none;
}

/* Add styles for form elements */
.button-container {
    text-align: center;
    margin: 20px 0;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-weight: bold;
    color: #2c3e50;
}

input[type="text"] {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #bdc3c7;
    border-radius: 4px;
    font-size: 14px;
}

button[type="submit"] {
    margin-top: 20px;
    background-color: #2ecc71;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #27ae60;
}