body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 20px;
    color: #333;
}

header {
    background-color: #424242;
    padding: 20px 0;
    align-items: center;
}

.header-content {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 40px; /* Increased left padding */
}

.logo {
    width: 9.25rem;
    height: 3.75rem;
    margin-right: 20px;
}

h1 {
    font-size: 32px;
    color: #000000;
}

h2 {
    font-size: 18px;
    color: #4a4a4a;
    margin-bottom: 10px;
}


.chart-container {
    width: 80%;
    height: 400px;
    margin: 20px auto;
}

.brand-selector {
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 20px;
}

/* Add more custom styles as needed */